<app-header></app-header>
<form #resetForm='ngForm' (ngSubmit)='reset(resetForm)'>
    <div class='container'>
        <div class='card'>
            <div class="card bg-light text-dark">
                <h3 class='card-title'>Reset Password</h3>
            </div>
            <div class='card-body'>
                <div class='form-group'>
                    <label for='userEmail'>E-Mail Address:</label>
                    <input type='text' id='userEmail' class='form-control' name='userEmail' #theEmail='ngModel' required
                        [(ngModel)]='userEmail'>
                    <span *ngIf='theEmail.touched && theEmail.errors?.required' class="text-danger small">
                        E-Mail is required!
                    </span>
                </div>
            </div>
            <div class='card-footer'>
                <button type='submit' [disabled]='!resetForm.valid' class="btn btn-primary">Send Password Reset
                    Link</button>
            </div>
        </div>
    </div>
</form>