<app-header></app-header>
<form #registerForm='ngForm' (ngSubmit)='register(registerForm)' [mustMatch]="['userPw', 'confirmPw']" novalidate>
    <div class='container'>
        <div class='card'>
            <div class="card bg-light text-dark">
                <h3 class='card-title'>Register</h3>
            </div>
            <div class='card-body'>
                <div class='form-group'>
                    <label for='userName'>Name</label>
                    <input type='text' id='userName' class='form-control' name='userName' #useName='ngModel' required
                        [(ngModel)]='userName'>
                    <span *ngIf='useName.touched && useName.errors?.required' class="text-danger small">
                        Name is required!
                    </span>
                </div>


                <div class='form-group'>
                    <label for='userEmail'>Email</label>
                    <input type='text' id='userEmail' class='form-control' name='userEmail' #theEmail='ngModel' email
                        required [(ngModel)]='userEmail'>
                    <span *ngIf='theEmail.touched && theEmail.errors?.required' class="text-danger small">
                        Email is required!
                    </span>
                    <span *ngIf='theEmail.touched && theEmail.errors?.email' class="text-danger small">
                        Enter valid email, e.g., john@example.com
                    </span>
                </div>

                <div class='form-group'>
                    <label for='phone'>Phone No.</label>
                    <input type='text' id='phoneNo' class='form-control' name='phoneNo' #phone='ngModel' minlength="10"
                        maxlength="12" required [(ngModel)]='userPhone'>
                    <span *ngIf='phone.touched && phone.errors?.minlength' class="text-danger small">
                        Phone number must be between 10 and 12 digits
                    </span>
                </div>

                <div class='form-group'>
                    <label for='profession'>Profession</label>
                    <input type='text' id='profession' class='form-control' name='profession' #job='ngModel' required
                        [(ngModel)]='userProfession'>
                    <span *ngIf='job.touched && job.errors?.required' class="text-danger small">
                        Profession is required!
                    </span>
                </div>


                <div class='form-group'>
                    <label for='userPw'>Password</label>
                    <input type='password' id='userPw' class='form-control' name='userPw' #password='ngModel'
                        minlength="6" required [(ngModel)]='userPw'>
                    <span *ngIf='password.touched && password.errors?.required' class="text-danger small">
                        Password is required
                    </span>
                    <span *ngIf='password.touched && password.errors?.minlength' class="text-danger small">
                        Password must be at least 6 characters!
                    </span>
                </div>


                <div class='form-group'>
                    <label for='confirmPw'>Confirm Password</label>
                    <input type='password' id='confirmPw' class='form-control' name='confirmPw' #cnfrmPw='ngModel'
                        [(ngModel)]='confirmPw' required>

                    <div *ngIf="cnfrmPw.touched && cnfrmPw.errors?.required" class="text-danger small">Confirm Password
                        is required</div>
                    <div *ngIf="cnfrmPw.touched && cnfrmPw.errors?.mustMatch" class="text-danger small">Passwords must
                        match</div>


                </div>
            </div>
            <div class='card-footer'>
                <button type='submit' [disabled]='!registerForm.valid' class='btn btn-primary'>Register</button>
            </div>
        </div>
    </div>
</form>